body {
    font-family: Arial, sans-serif;
    margin: 100px;
}

.container {
    max-width: 1200px;
    max-height: 1000px;
}

.header {
    background-color: limegreen;
    height: 150px;
    width: 100%;
    text-align: center;
}

.header h1 {
    padding-top: 46px;
}

.footer h1 {
    padding-top: 32px;
}

.content {
    width: 100%;
}

.text-left {
    background-color: blueviolet;
    float: left;
    width: 25%;
    height: 520px;
    text-align: center;
}

.image-right {
    background-color: lightblue;
    float: left;
    width: 75%;
    height: 520px;
    text-align: center;
}

.footer {
    background-color: lightyellow;
    clear: both;
    height: 130px;
    width: 100%;
    text-align: center;
}

.image-right h1 {
    margin-top: 210px;
    margin-right: 125px;
}

.text-left h1 {
    margin-top: 210px;
}

h1 {
    font-size: 50px;
    color: #3b3a3c;
}